@font-face {
    font-family: 'get_schwiftyregular';
    src: url('fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff2') format('woff2'),
    url('fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("/img/main2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
}
.mainDiv {
    min-height: 100vh;
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto;
    padding-top: 150px;
    background-image: linear-gradient(to bottom, rgba(34,31,102), rgba(80,38,100), rgba(108,51,98), rgba(128,69,98), rgba(142,90,102));

}
.container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.logoAndNav {
    position: fixed;
    top: 0;
    width: 100vw;
    margin-bottom: 50px;
    z-index: 1000;
    display: flex;
    background-image: url("/img/navBg.jpg");
    background-position: 0 300px;
    -webkit-box-shadow: 0px 5px 15px -4px rgba(17,53,131,1);
    -moz-box-shadow: 0px 5px 15px -4px rgba(17,53,131,1);
    box-shadow: 0px 5px 15px -4px rgba(17,53,131,1);
}
.mainLogo {
    width: 300px;
    margin-left: 100px;

}
.mainLogoContainer {

    text-align: center;
}
.mainNav {
    margin: 0 auto;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;

}
.mainNav li {
    padding: 5px;
    margin: 0 20px;
    list-style: none;

}
.mainNav li a {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration: none;
    color: #00B0C7;
    position: relative;

    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 2px 0 2px #7EB65D,-2px 0 2px #7EB65D, 0 2px 2px #7EB65D,0 -2px 2px #7EB65D;
    transition: 0.2s;
}
.mainNav li:hover a {
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;
}
.portalPng {
    transition: 1s;
    width: 40px;
}
.rickAndMorty {
    position: absolute;
    left: 10px;
    top: 0;
    width: 25px;
    transform: scale(0);
    transition: 1s;
}

.mainNav li a:hover .portalPng {
    transform:  rotate(360deg);
}
.mainNav li a:hover .rickAndMorty {
    transform: scale(1);
}
.buttonsNav {
    position: relative;
}
.active p {
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;
}
.newsMessage {
    width: 85%;
    background-color: #163588;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration: none;
    color: #00B0C7;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0;

}
/*.newsMessage p*/




.characterComponent img {
    width: 200px;
    border-radius: 20%;

}

.charactersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.characterComponent {
    background-color: rgba(0, 0, 0, 30%);
    width: 200px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 4px solid #7EB65D;
    border-radius: 20%;
    transition: 1s;
}
.characterInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.characterComponent p {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}
.buttonPrev, .buttonNext {
    background: transparent;
    border: none;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #00B0C7;
    position: relative;

    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 2px 0 2px #7EB65D,-2px 0 2px #7EB65D, 0 2px 2px #7EB65D,0 -2px 2px #7EB65D;
}
.galleryTopNav{
    display: flex;
    justify-content: space-between;
}
.nav-active p {
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;
}
.nav-active p  .rickAndMorty {
    transform: scale(1);
}
.seasons {
    display: flex;
    justify-content: space-around;
}
.seasonButton {
    background: transparent;
    border: none;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px;
}

.episodeInfo {
    /*border: 3px solid black;*/
    /*box-shadow: 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;;*/
    list-style: none;
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    width: 1000px;
    background: #163588;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration: none;
    color: #00B0C7;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black;

    box-sizing: border-box;
    margin: 20px 0;
}
.episodeImg {
    height: 150px;
}

.mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mainContainer img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.quizContainer {
    width: 700px;
    background-image: linear-gradient(to top, #00b0c7, #00b5b5, #22b89a, #55b87c, #7eb65d);
    margin-bottom: 50px;
    -webkit-box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    -moz-box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    border-radius: 10px;
}
.question {
    min-height: 100px;
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 50px;
    color: #00B0C7;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black;
    padding: 10px;
}
.quizImg {
    text-align: center;
}
.answerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #7EB65D;
    width: 30%;
    margin: 10px;
    min-height: 50px;
    padding: 5px;
    font-family: "Comic Sans MS", sans-serif;
    color: #0062c7;
    border: 4px solid transparent;


}
.pieselContainer {
    position: fixed;
    left: 0;
    bottom: 20px;
    z-index: 10;
}
.piesel {
    transition: 1s;
}
.pieselText {
    position: absolute;
    width: 250px;
    background-color: white;
    left: 175px;
    bottom: 150px;
    color: black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 15px;
    padding: 10px;
    transition: 1s;
}
.pieselText::after {
    position: absolute;
    left: 10px;
    bottom: 0;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    z-index: -1;
    transform: rotate(-15deg);

}
.hidePiesel {
    position: absolute;
    left: 150px;
    bottom: 10px;
    color: white;
    cursor: pointer;
    font-family: "Comic Sans MS", sans-serif;
}
.convinceButton {
    width: 150px;
    position: absolute;
    left: 200px;
    bottom: 50px;
    border-radius: 20%;
    transition: 0.5s;
}
.footer {
    position: fixed;
    background-color: black;
    width: 100vw;
    bottom: 0;
    text-align: center;
    z-index: 1000;
}
.footer p {
    font-size: 10px;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}

.gifsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1320px) {
    .mainNav li a {
        font-size: 20px;
    }
    .portalPng {
        width: 30px;
    }
    .rickAndMorty {
        width: 20px
    }
    .mainDiv {
        width: 80vw;
    }
    .mainLogo {
        margin-left: 10px
    }
    .mainContainer {
        width: 100%;
    }
    .container {
        width: 100%
    }
    iframe {
        width: 80%;
    }
    .episodeInfo {
        width: 90%;
    }
}
@media (max-width: 1025px) {
    .portalPng {
        display: none;
    }
    .rickAndMorty {
        display: none;
    }
    .pieselContainer {
        display: none;
    }
    .quizContainer {
        width: 80%;
    }
    .quizImg img {
        width: 90%;
    }


}
@media (max-width: 840px) {
    .mainNav {
        overflow: hidden;
    }
    .mainNav {
        /*display: none;*/
        position: absolute;
        width: 200px;
        height: 300px;
        right: 0;
        top: 100px;
        background-image: linear-gradient(to right top, #13368a, #4d2a7a, #661c65, #731150, #77103b);
        flex-direction: column;
        transition: 1s;
        transform: translateX(100%);
    }
    .hamburger {
        position: absolute;
        right: 80px;
        top: 20px;
        color: white;
        z-index: 10000;
    }
    .fa-bars {
        font-size: 60px;
        color: #00B0C7;
        text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 2px 0 2px #7EB65D,-2px 0 2px #7EB65D, 0 2px 2px #7EB65D,0 -2px 2px #7EB65D;
    }
    .answer {
        padding: 2px;
        margin: 5px;
        width: 40%;
    }
    .question {
        font-size: 30px;
    }
    .episodeInfo {
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


}
@media (max-width: 440px) {
    .mainLogo {
        width: 220px;
    }
    .hamburger {
        right: 40px;
        top: 15px;
    }
    .fa-bars {
        font-size: 40px;
    }
    .mainNav {
        top: 70px
    }
    .answer {
        font-size: 10px;
    }
    .question {
        font-size: 20px;
    }
    .episodeInfo {
        padding: 5px;
    }
}
@media (max-height: 350px) {
    .mainNav {
        height: 200px;

    }
}