@font-face {
    font-family: 'get_schwiftyregular';
    src: url('fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff2') format('woff2'),
    url('fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
}
.background {
    background-image: url("/img/main2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
}
.mainDiv {
    width: 1000px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.logoAndNav {
    margin-bottom: 50px;

}
.mainLogo {
    width: 400px;
    text-align: center;

}
.mainLogoContainer {

    text-align: center;
}
.mainNav {
    margin: 0 auto;
    display: flex;
    width: 1000px;
    justify-content: space-around;

}
.mainNav li {
    padding: 10px;
    margin: 0 20px;
    list-style: none;
}
.mainNav li a {
    font-size: 40px;
    font-family: 'get_schwiftyregular', sans-serif;
    text-decoration: none;
    color: #00B0C7;
    position: relative;
    text-transform: uppercase;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 2px 0 2px #7EB65D,-2px 0 2px #7EB65D, 0 2px 2px #7EB65D,0 -2px 2px #7EB65D;
}
.portalPng {
    transition: 1s;
    width: 40px;
}
.rickAndMorty {
    position: absolute;
    left: 10px;
    top: 0;
    width: 25px;
    transform: scale(0);
    transition: 1s;
}

.mainNav li a:hover .portalPng {
    transform:  rotate(720deg);
}
.mainNav li a:hover .rickAndMorty {
    transform: scale(1);
}
.buttonsNav {
    position: relative;
}
.active p {
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;
}
.characterComponent img {
    width: 200px;
    border-radius: 20%;
}

.charactersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.characterComponent {
    background-color: rgba(0, 0, 0, 30%);
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 4px solid #7EB65D;
    border-radius: 20%;
}
.characterComponent p {
    text-align: center;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}
.buttonPrev, .buttonNext {
    background: transparent;
    border: none;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: white;
}
.galleryTopNav{
    display: flex;
    justify-content: space-between;
}
.nav-active p {
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black, 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;
}
.nav-active p  .rickAndMorty {
    transform: scale(1);
}
.seasons {
    display: flex;
    justify-content: space-around;
}
.seasonButton {
    background: transparent;
    border: none;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px;
}

.episodeInfo {
    background:  rgb(0,175,199, 90%);
    border: 3px solid black;
    box-shadow: 4px 0 4px #7EB65D,-4px 0 4px #7EB65D, 0 4px 4px #7EB65D,0 -4px 4px #7EB65D;;
    list-style: none;
    font-size: 20px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    color: #555555;
    font-family:"Comic Sans MS", sans-serif;
    display: flex;
    justify-content: space-between;

}

.mainContainer {
    position: relative;
}
.mainContainer img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.quizContainer {
    width: 700px;
    background-image: linear-gradient(to top, #00b0c7, #00b5b5, #22b89a, #55b87c, #7eb65d);
    margin-bottom: 50px;
    -webkit-box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    -moz-box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    box-shadow: -1px -5px 75px -9px rgba(34,184,153,0.61);
    border-radius: 10px;
}
.question {
    min-height: 100px;
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 50px;
    color: #00B0C7;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black,0 -1px black;
    padding: 10px;
}
.quizImg {
    text-align: center;
}
.answerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #7EB65D;
    width: 30%;
    margin: 10px;
    min-height: 50px;
    padding: 5px;
    font-family: "Comic Sans MS", sans-serif;
    color: #0062c7;
    border: 4px solid transparent;


}
.piesel {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s;
}
.pieselText {
    position: absolute;
    width: 250px;
    background-color: white;
    left: 175px;
    bottom: 150px;
    color: black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 15px;
    padding: 10px;
    transition: 1s;
}
.pieselText::after {
    position: absolute;
    left: 10px;
    bottom: 0;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    z-index: -1;
    transform: rotate(-15deg);

}
.hidePiesel {
    position: absolute;
    left: 150px;
    bottom: 10px;
    color: white;
    cursor: pointer;
    font-family: "Comic Sans MS", sans-serif;
}
.convinceButton {
    width: 150px;
    position: absolute;
    left: 200px;
    bottom: 50px;
    border-radius: 20%;
    transition: 0.5s;
}